html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Italic";
  src: url("./assets/fonts/NotoSans-Italic.ttf");
}
@font-face {
  font-family: "Regular";
  src: url("./assets/fonts/TiltWarp-Regular.ttf");
}
